/*标题*/
section .title{
    width: 1000px;
    height: 66px;
    line-height: 66px;
    margin: 0 auto;
    text-indent: 8px;
}
.title>h1{
    display: inline-block;
}
/* 轮播图css */
.LBT{
    width:100%;
    height:383px;
    position: relative;
}
.LBT>div{
    width:1000px;
    height:305px;
    margin: -77px auto;
    transform: translate(0,25%);
    position: relative;
    overflow: hidden;
}
.lbul{
    width:4000px;
    height:290px;
    position:absolute;
    left:0;
    top:0;
}
.lbul>li{
    width:220px;
    height:290px;
    border:1px solid #cccc;
    text-align: center;
    font-size:12px;
    float: left;
    margin:0 14px;
    border-radius:6px;
    position: relative;
}

.lbul>li>a>img{
    width:220px;
    height: 130px;
}
.lbul>li>span{
    display:inline-block;
    width:50px;
    height:25px;
    border:1px solid red;
    border-radius:4px;
    color:red;
    line-height:25px;
    margin:10px 10px;
}
.lbul>li>.sp1{
    margin:0;
    position:absolute;
    right:0;
    top:0;
    border-radius:0 6px;
    background-color:red;
    color:white;
    font-size:15px;
}
.lbul>li>p:nth-of-type(1){
    margin:7px 0;
    font-size:16px;
}
.lbul>li>p:nth-of-type(1)>span{
    color:red;
    font-size:16px;
}
.lbul>li>p:nth-of-type(2){
    color:red;
    font-size:16px;
}
.leftIMG{
    position:absolute;
    top:195px;
    left:210px;
}
.rightIMG{
    position:absolute;
    top:195px;
    right:210px;
}
/*报告精选*/
.bg{
    background: #f7f7f7;
}
.title>a{
    display: inline-block;
    float: right;
    font-size: 13px;
    color: #fe6a51;
    padding-right: 14px;
    background: url("img/readMore.png") no-repeat right;
}
.content{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.cont_pic{
    width: 220px;
    border: 1px solid #ccc;
    border-radius: 6px;
    float: left;
    margin: 0 14px 20px 14px;
    position: relative;
}
.cont_pic>img{
    width: 220px;
    height: 130px;
    border-radius: 6px 6px 0 0
}
.all_text{
    padding: 10px;
    font-size: 13px;
    margin-bottom: 10px;
}
.all_text>p{
    color: #504a39;
    line-height: 20px;
    margin-bottom: 25px;
}
.all_text span{
    color: #919da8;
}
.all_text .num_three,.num_xin{
    float: right;
}
.num_three>span{
    padding-left: 14px;
    background: url("img/zan.png") no-repeat left center;
}
.num_three>span:nth-child(2){
    background: url("img/reply.png") no-repeat left center;
}
.num_xin>span{
    padding-left: 14px;
    background: url("img/xin.png") no-repeat left center;
}
.num_xin>span:nth-child(2){
    background: url("img/reply.png") no-repeat left center;
}
.bgimg{
    display: block;
    width: 220px;
    height: 15px;
    position: absolute;
    bottom: -13px;
    background: url("img/listbg.jpg") no-repeat;
}
/*酷玩精选*/
.all_text .price{
    color: #ee5644;
    font-size: 14px;
}
.all_text .describe{
    color: #9ba3a8;
    margin-bottom: 20px;
}
.all_text>h4{
    font-size: 15px;
    font-weight: normal;
    color: #424a4d;
}
/*点击加载更多*/
.playMove{
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
    color: #959898;
}
.playMove span{
    background: url("./img/more.png") no-repeat left center;
    color: #ff5634;
    padding-left:24px;
    cursor:pointer;
}
/*列表图片的动画效果*/
section .cont_pic:hover img{
    animation: img_anim ease-in infinite 1.2s both;
}

@keyframes img_anim {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .6;
    }

    100% {
        opacity: 1;
    }
}

/*返回顶部*/
.returnTop{
    position: fixed;
    bottom: 50px;
    right: 150px;
    width: 55px;
    height: 48px;
    line-height: 38px;
    display: none;
    border-radius: 10px;
    background: #e8e8e8 url("img/back.png") no-repeat center center;
}
.returnTop:hover{
    background: #c6c6c6;
}

.lbul>li:hover img{
    animation: img_anim ease-in infinite 1.2s both;
}

@keyframes img_anim {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .6;
    }

    100% {
        opacity: 1;
    }
}
